<!DOCTYPE html>
<html lang="en">
<head>
<title>Title</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
  <style>
      body{margin: 0;
      padding: 0;
      font-family: sans-serif;

      }
  </style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'News:userchannel' %}">
        {% load static %}
        <img src="{% static 'News/N.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
        News Reader
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-link">
              <a class="nav-link" href="{% url 'News:userchannel' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-link">
              <a class="nav-link" href="{% url 'News:list' %}">Add Channels <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-link">
              <a class="nav-link" href="{% url 'News:userchannel' %}">My Channels <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="nav justify-content-center">
          {% if request.user.is_authenticated %}
            <li class="nav-item active navbar-nav mr-auto">
                  <a class="nav-link" href="{% url 'News:logout' %}">
                    Logout
                    <span class="sr-only">(current)</span>
                  </a>
              </li>
          {% else %}
            <li class="nav-item active navbar-nav mr-auto">
                <a class="nav-link" href="{% url 'News:register' %}">
                  Register
                  <span class="sr-only">(current)
                  </span>
                </a>
            </li>
            <li class="nav-item active navbar-nav mr-auto">
                <a class="nav-link" href="{% url 'News:login' %}">
                  Login 
                  <span class="sr-only">(current)</span>
                </a>
            </li>
          {% endif %}
        </ul>
      </div>
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block body %}
{% endblock %}

</body>
</html>