<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'News/base.html' %}
{% block body %}
<div class="alert alert-dark mt-3" role="alert">
<h3 style="color:#212F3D;">Welcome {{user}}!</h3>
    <h3 style="color:#212F3D;">Add your favorite channels from here and Enjoy Latest News.</h3>
     <h3 style="color:#212F3D;">Categories: gn(general) , sp(sport) , tech(technology), bus(business) ,sci(science) </h3>
</div>



 <div class="row">
            {% for channel in all_channels %}


       <div class="card col-lg-3 " style="width: 18rem;">

         <div class="card-body">

             <!--<h5 class="card-title"><a href="/News/detail/{{channel.id}}/" style="color:#212F3D;"><h1><center>{{channel.channel_title}}</center></h1></a></h5>-->
                <a href="{% url 'News:index' channel.id %}"><center><button class="btn btn-outline-dark" style="width:100%" type="button"> Add {{channel.channel_title}} </button></center></a>

         </div>
        </div>
        {% endfor %}
{% endblock %}
</body>
</html>