-i https://pypi.org/simple/
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
django==2.1
gtts-token==1.1.4
gtts==2.1.1
idna==2.10
importlib-metadata==4.4.0 ; python_version < '3.8'
pytz==2021.1
requests==2.25.1
six==1.16.0
soupsieve==2.2.1 ; python_version >= '3.0'
typing-extensions==3.10.0.0 ; python_version < '3.8'
urllib3==1.26.5
zipp==3.4.1
